<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crp.vehicle.mapper.ApprovalMapper">
    <resultMap type="com.crp.vehicle.entity.Approval" id="ApprovalMap">
        <result property="aid" column="aid" jdbcType=""/>
        <result property="userid" column="userid" jdbcType=""/>
        <result property="users" column="users" jdbcType=""/>
        <result property="pickuplocation" column="pickuplocation" jdbcType=""/>
        <result property="destination" column="destination" jdbcType=""/>
        <result property="passengersnumber" column="passengersnumber" jdbcType=""/>
        <result property="vehicletime" column="vehicletime" jdbcType=""/>
        <result property="back" column="back" jdbcType=""/>
        <result property="instructions" column="instructions" jdbcType=""/>
        <result property="approvalstate" column="approvalstate" jdbcType=""/>
        <result property="curnid" column="curnid" jdbcType=""/>
        <result property="rid" column="rid" jdbcType=""/>
        <result property="createdtime" column="createdtime" jdbcType=""/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ApprovalMap">
        select
        #allSqlColumn()

        from crp_vehiclemanage_v1.0.approval
        where aid = #{aid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ApprovalMap">
        select
        #allSqlColumn()

        from crp_vehiclemanage_v1.0.approval
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ApprovalMap">
        select
        #allSqlColumn()

        from crp_vehiclemanage_v1.0.approval
        <where>
            <if test="aid != null">
                and aid = #{aid}
            </if>
            <if test="userid != null and userid != ''">
                and userid = #{userid}
            </if>
            <if test="users != null and users != ''">
                and users = #{users}
            </if>
            <if test="pickuplocation != null and pickuplocation != ''">
                and pickuplocation = #{pickuplocation}
            </if>
            <if test="destination != null and destination != ''">
                and destination = #{destination}
            </if>
            <if test="passengersnumber != null">
                and passengersnumber = #{passengersnumber}
            </if>
            <if test="vehicletime != null">
                and vehicletime = #{vehicletime}
            </if>
            <if test="back != null">
                and back = #{back}
            </if>
            <if test="instructions != null and instructions != ''">
                and instructions = #{instructions}
            </if>
            <if test="approvalstate != null and approvalstate != ''">
                and approvalstate = #{approvalstate}
            </if>
            <if test="curnid != null">
                and curnid = #{curnid}
            </if>
            <if test="rid != null">
                and rid = #{rid}
            </if>
            <if test="createdtime != null">
                and createdtime = #{createdtime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="aid" useGeneratedKeys="true">
        insert into crp_vehiclemanage_v1.0.approval(userid, users, pickuplocation, destination, passengersnumber,
        vehicletime, back, instructions, approvalstate, curnid, rid, createdtime)
        values (#{userid}, #{users}, #{pickuplocation}, #{destination}, #{passengersnumber}, #{vehicletime}, #{back},
        #{instructions}, #{approvalstate}, #{curnid}, #{rid}, #{createdtime})
    </insert>

    <insert id="insertBatch" keyProperty="aid" useGeneratedKeys="true">
        insert into crp_vehiclemanage_v1.0.approval(userid, users, pickuplocation, destination, passengersnumber,
        vehicletime, back, instructions, approvalstate, curnid, rid, createdtime)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userid}, #{entity.users}, #{entity.pickuplocation}, #{entity.destination},
            #{entity.passengersnumber}, #{entity.vehicletime}, #{entity.back}, #{entity.instructions},
            #{entity.approvalstate}, #{entity.curnid}, #{entity.rid}, #{entity.createdtime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="aid" useGeneratedKeys="true">
        insert into crp_vehiclemanage_v1.0.approval(userid, users, pickuplocation, destination, passengersnumber,
        vehicletime, back, instructions, approvalstate, curnid, rid, createdtime)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userid}, #{entity.users}, #{entity.pickuplocation}, #{entity.destination},
            #{entity.passengersnumber}, #{entity.vehicletime}, #{entity.back}, #{entity.instructions},
            #{entity.approvalstate}, #{entity.curnid}, #{entity.rid}, #{entity.createdtime})
        </foreach>
        on duplicate key update
        userid = values(userid) , users = values(users) , pickuplocation = values(pickuplocation) , destination =
        values(destination) , passengersnumber = values(passengersnumber) , vehicletime = values(vehicletime) , back =
        values(back) , instructions = values(instructions) , approvalstate = values(approvalstate) , curnid =
        values(curnid) , rid = values(rid) , createdtime = values(createdtime)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update crp_vehiclemanage_v1.0.approval
        <set>
            <if test="userid != null and userid != ''">
                userid = #{userid},
            </if>
            <if test="users != null and users != ''">
                users = #{users},
            </if>
            <if test="pickuplocation != null and pickuplocation != ''">
                pickuplocation = #{pickuplocation},
            </if>
            <if test="destination != null and destination != ''">
                destination = #{destination},
            </if>
            <if test="passengersnumber != null">
                passengersnumber = #{passengersnumber},
            </if>
            <if test="vehicletime != null">
                vehicletime = #{vehicletime},
            </if>
            <if test="back != null">
                back = #{back},
            </if>
            <if test="instructions != null and instructions != ''">
                instructions = #{instructions},
            </if>
            <if test="approvalstate != null and approvalstate != ''">
                approvalstate = #{approvalstate},
            </if>
            <if test="curnid != null">
                curnid = #{curnid},
            </if>
            <if test="rid != null">
                rid = #{rid},
            </if>
            <if test="createdtime != null">
                createdtime = #{createdtime},
            </if>
        </set>
        where aid = #{aid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from crp_vehiclemanage_v1.0.approval where aid = #{aid}
    </delete>
</mapper>
    

